snippet funcES5 "function name() {...}" i
function ${1:name}(${2:props}) {$0}
endsnippet

snippet funcAnonES5 "function() {...}" i
function(${1:props}) {$0}
endsnippet

snippet varFuncES5 "var name = function {...}"
var ${1:name} = function(${2:props}) {$0};
endsnippet
