snippet importReact
import React from 'react';
endsnippet

snippet importReactComponent
import React, {Component} from 'react';
endsnippet

snippet classExtReactComponent
class ${1:ClassName} extends Component {
  render() {$0}
}
endsnippet
