extends javascript

snippet importReact
import React from 'react';
endsnippet

snippet reactFC
import React from 'react';

const ${1:component}: React.FC = () => {
  return <div>${1:component}</div>;
};

export default ${1:component};
endsnippet
